{% extends "layout.html" %}

{% block title %}
Selen-kaa
{% endblock %}

{% block main_container %}
<div class="panel panel-default" id="initial-stats">
    <div class="panel-heading">
        <span class="glyphicon glyphicon-stats"></span>
        <strong> Hey hey hey!</strong>
    </div>
    <div class="panel-body row">
        <div class="col-md-3">
            <img alt="justice icon" class="img-responsive img-circle img-icon-fit"
                 src="{{ url_for('static', filename='data/icons/justice_ed.png') }}"/>
            Justice <span class="label label-default">999</span>
        </div>
        <div class="col-md-3">
            <img alt="criminal law icon" class="img-responsive img-circle img-icon-fit"
                 src="{{ url_for('static', filename='data/icons/criminal_ed.png') }}"/>
            Law icon <span class="label label-default">1999</span>
        </div>
        <div class="col-md-3">
            <img alt="man shaking hands icon" class="img-responsive img-circle img-icon-fit"
                 src="{{ url_for('static', filename='data/icons/legal_case.png') }}"/>
            Man shaking hands <span class="label label-default">234</span>
        </div>
        <div class="col-md-3">
            <img alt="tax law icon" class="img-responsive img-circle img-icon-fit"
                 src="{{ url_for('static', filename='data/icons/taxes_ed.png') }}"/>
            Tax law <span class="label label-default">999 999</span> text
        </div>
    </div>
</div>

<!-- GRID for slide desct menu-->
<div class="main-grid">
     <!-- GRID for slide desct menu-->
    <div class="main-grid">
        <!-- 1-st ROW -->
        <div class="row">
            <div class="row first-row col-md-8">
                <img class="col-md-9 slide-elem img-responsive img-rounded img-fit"
                     src="{{ url_for('static', filename='data/images/111.jpg') }}"/>
                <p class="col-md-3 slide-text">text text text text text text text text text</p>
            </div>
			<div class="row col-md-4 first-row">
                <div class="row sec-row">
                    <img class="col-md-9 slide-elem img-responsive img-rounded img-fit"
                      src="{{ url_for('static', filename='data/images/122.jpg') }}"/>
                    <p class="col-md-3 slide-text">second data second data second data second data</p>
                </div>
                <div class="row sec-row">
                    <img class="col-md-9 slide-elem img-responsive img-rounded img-fit"
                      src="{{ url_for('static', filename='data/images/123.jpg') }}"/>
                    <p class="col-md-3 slide-text">some data some data some data some data</p>
                </div>
			</div>
         </div>
        <!-- ROW 2 -->
        <div class="row">
            <div class="col-md-3 sec-row">
                <img class="slide-elem img-responsive img-rounded img-fit"
                     src="{{ url_for('static', filename='data/images/111.jpg') }}"/>
                <p class="slide-text">third data</p>
            </div>
            <div class="col-md-3 sec-row">
                <img class="slide-elem img-responsive img-rounded img-fit"
                     src="{{ url_for('static', filename='data/images/122.jpg') }}"/>
                <p class="slide-text">forth data</p>
            </div>
            <div class="col-md-3 sec-row">
                <img class="slide-elem img-responsive img-rounded img-fit"
                     src="{{ url_for('static', filename='data/images/123.jpg') }}"/>
                <p class="slide-text">fifth data</p>
            </div>
            <div class="col-md-3 sec-row">
                <img class="slide-elem img-responsive img-rounded img-fit"
                     src="{{ url_for('static', filename='data/images/111.jpg') }}"/>
                <p class="slide-text">sixth data</p>
            </div>
        </div>
    </div>
</div>
<section id="about" class="page-header">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4><strong>Selen-Kaa</strong></h4>
        </div>
        <div class="panel-body">
            Some text
        </div>
            {% for i in range(7) %}
                <span class="well the-same-class">Test the same {{ i }}</span>
            {% endfor %}
    </div>

    <div id="team-div">
        <div class="row">
            <div class="col-md-4">
                test
            </div>
            <div class="col-md-4">
                test 2
            </div>
            <div class="col-md-4">
                test 3
            </div>
        </div>
    </div>
</section>

{% endblock %}

