{% extends "content.html" %}

{% block page_title%}
    Допомога адвоката
{% endblock %}

{% block title_content %}
    Адвокатське об'єднання «Софяк та партнери»
{% endblock %}
{% block image_content %}
    <img src="{{ url_for('static', filename='data/pict/law_pract.jpg')}}">
{% endblock %}
{% block text_content %}
        Майже в кожного з нас рано чи пізно виникає ситуація, яка потребує правового вирішення.
        Не будучи  фахівцем у  галузі права, навіть досвідченій людині,  важко врахувати  всі можливі ризики та приймати
        правильні рішення. Зробіть перший крок- зателефонуйте в наш офіс і це стане початком вирішення вашої проблеми по суті!
        Наша команда -це адвокати з багаторічним досвідом роботи. Постійний моніторинг змін в законодавстві та практиці його застосування,
        з метою чіткого розуміння бізнес-процесів кожного з клієнтів  дозволяє  забезпечувати якісний захист прав і законних інтересів.
        АО "Софяк та партнери" пропонує:
        - правове забезпечення ведення бізнесу на постійній основі (абонентське юридичне обслуговування);
         - разові послуги, які можуть включати в себе усні та письмові консультації;
         - складання документів правового характеру;
         - представництво інтересів клієнтів в державних органах;
         - представництво в господарських, адміністративних судах та судах загальної юрисдикції  всіх інстанцій з різних видів спорів
        (включаючи підготовку позовних заяв, апеляційних, касаційних скарг та інших процесуальних документів);
         - медіацію (вид альтернативного врегулювання спорів, метод вирішення спорів із залученням посередника- медіатора).

        Ми будемо раді Вас бачити серед своїх клієнтів. Наш досвід-ваше майбутнє!
{% endblock %}