{% extends "content.html" %}

{% block page_title%}
    Law page
{% endblock %}

{% block title_content %}
    Paragraph 1
{% endblock %}
{% block image_content %}
    <img src="{{ url_for('static', filename='data/images/111.jpg')}}">
{% endblock %}
{% block text_content %}
       Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Consequat semper viverra nam libero justo laoreet sit amet. Posuere urna nec tincidunt praesent semper feugiat nibh. Quisque id diam vel quam. Sit amet tellus cras adipiscing. Luctus accumsan tortor posuere ac ut consequat. Scelerisque mauris pellentesque pulvinar pellentesque habitant morbi. In tellus integer feugiat scelerisque varius morbi enim nunc faucibus. In iaculis nunc sed augue lacus viverra vitae congue. In ante metus dictum at tempor commodo ullamcorper a.
{% endblock %}