{% extends "content.html" %}

{% block page_title%}
    Медіація
{% endblock %}

{% block title_content %}
    ЩО ТАКЕ МЕДІАЦІЯ?
{% endblock %}
{% block image_content %}
    <img src="{{ url_for('static', filename='data/pict/mediation.jpg')}}">
{% endblock %}
{% block text_content %}
Медіація – це неформальна, але чітко організована процедура врегулювання спору за участі нейтрального посередника (медіатора), який підтримує сторони у досягненні ними взаємовигідного рішення.
Медіація має добровільний характер, сторони за власним бажанням можуть припинити медіацію або продовжити її. Сторони самі  доходять згоди або ні, за них ніхто не приймає рішень.
Однією з умов медіації є її конфіденційність: усе, що відбувається під час медіації, залишається в таємниці.
Медіація як шлях врегулювання спору, орієнтована на інтереси сторін. Пошуки рішення не обмежуються виключно правовим предметом спору, а охоплюють широке коло питань, пов’язаних з економічними, фінансовими чи особистими інтересами сторін.

Медіатор, на відміну від третейського судді/арбітра, не виносить жодних рішень, він підтримує сторони на шляху розробки ними власного рішення.

Основні переваги‼️
Сфера застосування медіації не обмежується певним видом конфліктів, її проведення можливе у будь-яких спорах. Одна з основних переваг медіація полягає у тому, що сторони самі між собою узгоджують, які питання і в якому об’ємі вони хочуть обговорити. Процедура медіації гнучка й неформалізована, тому її легко підлаштувати до потреб сторін.
Співпраця з медіатором полягає в наступному алгоритмі дій:
1 Звернення до медіатора (дзвінок в офіс чи короткий опис ситуації через електронну пошту).
2 Залучення другої сторони до процедури медіації(отримання згоди на медіацію).
3 Підписання угоди про згоду на проведення медіації( а також  підписання угоди про конфіденційність між сторонами)
4 Проведення процедури медіації(визначення дати, часу та форми проведення медіації)
5 Підписання медіаційної угоди між учасниками.
{% endblock %}