{% extends "content.html" %}

{% block page_title%}
    Школа юридичної майстерності
{% endblock %}

{% block title_content %}
    Цікавить юридична кар'єра? Інвестуй правильно - в знання!
{% endblock %}
{% block image_content %}
    <img src="{{ url_for('static', filename='data/pict/school.jpeg')}}">
{% endblock %}
{% block text_content %}
Перед кожним студентом юридичного факультету стоїть проблема вибору професії, застосуванні здобутих знань. Комусь важко розпочати старт кар'єри, а комусь продовжити роботу після тривалої перерви.  Cаме в цей час слід подумати про нематеріальні інвестиції- знання, підвищення своєї вартості на ринку праці.
З метою підготовки фахівців в галузі права на базі Адвокатського об'єднання "Софяк та партнери" в 2014 році створена Школа юридичної майстерності.
В нашій школі можна здобути знання та практику за короткий час, не відволікаючись від основного виду зайнятості чи роботи.
На даний час підготовка здійснюється за двома напрямками:
1 ПОМІЧНИК АДВОКАТА (для студентів юридичних факультетів денної та заочної форми навчання).
Термін навчання від 1 місяця. Вартість 3000 грн в місяць.
Програма курсу "Помічник адвоката"
- Управління інформацією та часом. Робота з документами, базами даних. Інтернет-ресурсами.
- Презентаційні навички юриста.Адвокатська етика.
- Работа адвоката в умовах конфлікту. Вирішення конфліктних ситуацій. Майстерність переконання . Медіація.
- Консультаційна діяльність адвоката. Представництво в суді. Ефективна досудова робота. Досудові переговори.
- Особливості юридичної техніки при складанні процесуальних документів.Стандарти ведення адвокатського досьє.
- Робота адвоката з довірителем. Навички роботи адвоката зі справою довірителя. Тактика підготовки до судового процесу. Відпрацювання позиції в справі.
- Аргументи та докази. Ключові проблеми доведення по господарським, цивільним та адміністративним спорам.
- Правила захисту бізнесу в спорах з контролюючими органами (фіксальна та митна служба)
- Стратегія і тактика ведення судового процесу в залежності від стадії судового розгляду(суд першої інстанції, апеляція, касація)та види судового розгляду(кримінальне, цивільне, господарське чи адміністративне).
- Навички роботи адвоката в кримінальних справах.
- Участь адвоката в цивільному процесі.
- Адвокат в господарському процесі.
- Навички роботи адвоката по правилах адміністративного судочинства.
- Проблеми договірного права в практиці судів загальної юрисдикції та господарських судів. Заключення та виконання договорів.
- Особливості роботи адвоката при зверненні до Европейського суду з прав людини.
- Адвокат в МКАС при ТПП, третейське судочинство.
- Риторика. Виступ адвоката в судовому засіданні.
- Адвокат у виконавчому провадженні.
- Стандарти якості адвокатських послуг.Дещо про незаконну діяльність адвокатів.
- Юридичний маркетинг.Спеціалізація. Навички клієнт-орієнтування.Тайм-менеджмент.
- Психологічні основи діяльності адвоката. Використання адвокатом спеціальних знань психолога в кримінальному та цивільному процесі, навички розпізнання брехні та блефу.

2 СТАЖУВАННЯ майбутніх адвокатів (подробиці на сайті https://advocat4e.wixsite.com/advocatchernivtsi/rishennya-naau-rau для юристів, які склали іспит адвоката).
До успіху- разом з нами!
{% endblock %}