{% extends "content.html" %}

{% block page_title%}
    School page
{% endblock %}

{% block title_content %}
    Paragraph 3
{% endblock %}
{% block image_content %}
    <img src="{{ url_for('static', filename='data/images/123.jpg')}}">
{% endblock %}
{% block text_content %}
Odio pellentesque diam volutpat commodo sed egestas. Id nibh tortor id aliquet lectus proin. A diam sollicitudin tempor id eu nisl. Varius quam quisque id diam vel quam elementum pulvinar. Non tellus orci ac auctor. Ac turpis egestas integer eget aliquet nibh praesent tristique. Ullamcorper eget nulla facilisi etiam dignissim diam quis enim lobortis. Venenatis urna cursus eget nunc scelerisque viverra mauris. Orci porta non pulvinar neque laoreet suspendisse interdum consectetur. Pulvinar etiam non quam lacus. Nunc congue nisi vitae suscipit tellus mauris a diam. In mollis nunc sed id semper. Fermentum posuere urna nec tincidunt praesent semper feugiat nibh sed.
{% endblock %}